.game, .container {
  position: relative;
  width: 700px;
  height: 530px;
  margin-left: 26.5vw;
  margin-top: 5vw;
  margin-bottom: 7vw;
}

.game ul {
  position: absolute;
  top: 45%;
  left: 18%;
}
.game ul li {
  display: inline-block;
}

.auth-list li label {
  left: 0;
}

.auth-list li input {
  right: 0;
}

.minimap {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
}

.messages-container {
  width: 200px;
  height: 100%;
  float: right;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
}

.actions {
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  background-color: white;
}

.store {
  position: absolute;
  bottom: 30px;
  right: 0;
  background-color: white;
}

.hitCounter {
  text-align: center;
}

.banner {
  position: relative;
}

.banner h1 {
  font-size: 100px;
  color: white;
  position: absolute;
  top: 3vw;
  left: 40vw;
}

.storeItems, .about {
  margin-left: 11vw;
}

.items li {
  display: inline-block;
  list-style-type: none;
  background-color: grey;
  margin-left: 3vw;
  width: 300px;
  height: 400px;
}

canvas {
  background-color: black;
}
