{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="banner">
      <img src="./styles/statuesbanner1.png">
      <h1>About</h1>
    </div>
    <div class="about">
      <ul class="items">
        <li>
          <div><h2>David Snowberger</h2>
          <p>Lorem ipsum dolor sit amet, nec sale nusquam conclusionemque id, luptatum sapientem mea ad, platonem persequeris ad pri. An tibique expetenda cum, constituam scribentur no mei, mel id ponderum mandamus theophrastus.</p></div>
        </li>
        <li>
          <div><h2>Adam Grandquist</h2>
          <p>Lorem ipsum dolor sit amet, nec sale nusquam conclusionemque id, luptatum sapientem mea ad, platonem persequeris ad pri. An tibique expetenda cum, constituam scribentur no mei, mel id ponderum mandamus theophrastus.</p></div>
        </li>
        <li>
          <div><h2>Kat Cosgrove</h2>
          <p>Lorem ipsum dolor sit amet, nec sale nusquam conclusionemque id, luptatum sapientem mea ad, platonem persequeris ad pri. An tibique expetenda cum, constituam scribentur no mei, mel id ponderum mandamus theophrastus.</p></div>
        </li>
      </ul>
    </div>
{% endblock %}