<!DOCTYPE html>

{% load static %}

<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>The Norns</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static "styles/base/normalize.css" %}" rel="stylesheet">
  <link href="{% static "styles/base/base.css" %}" rel="stylesheet">
  <link href="{% static "styles/layout/layout.css" %}" rel="stylesheet">
  <link href="{% static "styles/modules/nav.css" %}" rel="stylesheet">
  <link href="{% static "styles/modules/modules.css" %}" rel="stylesheet">
</head>
<body>
  <header>
    <nav role="navigation">
      <div class="logo">
        <img src="{% static "assets/norns5.png" %}" />
      </div>
      <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
          <li><a href="{% url "home" %}">Home</a></li>
          <li><a href="{% url "join" %}">Join a Game</a></li>
          <li><a href="{% url "store" %}">Store</a></li>
          <li><a href="{% url "about" %}">About</a></li>
        </ul>
      </div>
    </nav>
  </header>
    <main>
    {% block content %}
    <h3>No Content</h3>
    {% endblock content%}
  </main>
</body>
</html>