{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<div class="game">
  <div class="start-game">
    <button>Start Game</button>
  </div>
  <div class="messages-container">
    <p class="messages"></p>
  </div>
  <div class="actions">
    <form class=action-form>
    <input name="action" class="action-input" type=text>
    <button type="submit">Enter</button>
  </form>
  </div>
  <div class="store">
    <a href={% url "store" %}>store</a>
  </div>
</div>
{% else %}
<div class="game">
  <h2>Story so far</h2>
  <p>Lorem ipsum dolor sit amet, nec sale nusquam conclusionemque id, luptatum sapientem mea ad, platonem persequeris ad pri. An tibique expetenda cum, constituam scribentur no mei, mel id ponderum mandamus theophrastus.</p></div>
</div>
{% endif %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static "./js/norns.js" %}" type="text/javascript"></script>
{% endblock content %}
